@import "static.scss";//import colorfile to use color

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color:$color5;
    // background-color:$color5;
    position: sticky;
    top: 0%;
    z-index: 10;
    // opacity: 0.7;

}
.logo>img{
    // font-size: 25px;
    width: 200px;
    // border: 2px solid black;
    // border-radius: 20px 20px;
    // height:2px ;
    // padding-left: 8px;
}

.nav-links{
    display: flex;
    // justify-content:flex-end;
    justify-content: space-between;
    list-style: none;
    // width: 75%;
}

.home,
.about,
.joinus,
.yourquery,
.signup{
    text-decoration: none;
    color: $color1;
    font-weight: 800;
    font-size: 19px;
    padding: 10px 30px;
    margin: 0 10px;
    cursor:pointer;
    &:hover{
                        // color: $color6;
                        color: rgb(69, 75, 75);
                        // text-shadow:0.7rem 0.1rem 0.9rem gray;
                    }


}
.signup
{
    border: 1px solid $color6;
    border-radius: 9px;
}


.mobile-menu-icon{
    display: none;
}

@media screen and (max-width:780px)
{
    .log{
        display: flex;
        
        position: absolute;
        top: 15px;
        left: 35px;
    }
    .logo>img{
        width: 250px;
    }
    .nav-links{
        display: none;
    }
    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color:$color5;
        z-index: 10;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
        text-align: center;
        // position: sticky;
        // top: 0%;
        // z-index: 10;
    }
    .home,
    .about,
    .joinus,
    .yourquery,
    .signup{
        text-decoration: none;
        color: $color1;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
        
        
    }
    .signup{
        border: none;

    }
    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: rgb(23, 19, 19);
        background-color: $color5 ;
        outline: none;
        top: 15px;
        right: 25px;
        
    }
}













// nav{
//     width: 100%;
//     padding:1rem;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: $color1;
//     position: sticky;//it will stick at top iven top:0%
//     top:0%;
//     z-index: 10;//we put z index greater than all the component so that it can visible while scrolling


//     > div {
//         text-transform: uppercase;
//     }
//     >main{
//         width:70%;
//         display: flex;
//         padding-right: 0.5rem;
//         justify-content: flex-end;//it's move to right side..all nav move to right side
//         >a{//LInk same as anchor tag
//             color:$color5;
//             margin: 1rem;
//             &:hover{
//                 color: $color2_1;
//                 text-shadow:0.5rem 0.1rem 0.7rem gray;
//             }
            
        
//         }
//         .hamburger{
//             display: none; 
//         }
//     }
         
// }
// // a{
// //     color:$dark;
// //     margin: 1rem;
   
    
// // }

// //responsive
// @media (max-width: 998px){
//     nav>main>a{
//         display: none;
//     }
//     .hamburger{
//         display: block;
//     }
// }