@import "static.scss";
.container2 {
    height: 100vh;
    // height: 100%;
    min-height: 100vh;
    width: 100%;
    // background: linear-gradient(to right, #9900ff, #cc80ff);
    background: linear-gradient(to right, $color2_1, $color2);
    display: flex;
    justify-content: center;
    align-items: center;
    >.innerBox2 {
      // min-width: 480px;
      width: 40%;
      height: 80%;
      // height: fit-content;
      // width: fit-content;
      background-color: #fff;
      // box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
      padding: 30px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      >.container1{
        // height: 88%;
        width: 100%;
        // align-items: center;
        >.messa{
          align-self: stretch;
               width: 100%;
               height: 40%;
              
        }

      }
      >.footer1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-weight: bold;
        font-size: 0.875rem;
        color: #ff3300;
        text-align: center;
        >button {
          outline: none;
          border: none;
          // background-color: #9900ff;
          background-color: $color2_1;
          color: #fff;
          border-radius: 5px;
          font-weight: bold;
          font-size: 1rem;
          padding: 10px 16px;
          width: 100%;
          transition: 100ms;
          cursor: pointer;
        }
        >button:hover {
          // background-color: #b071da;
          background-color: $color2;
        }
        >button:disabled {//at disabled css
          background-color: gray !important;//when it disabled thenbutton color become gray
        }
        >p{
          font-weight: bold;
          color: #353536;
          letter-spacing: 1px;
          font-size: 1rem;
          text-decoration: none;
          >span>a {
            font-weight: bold;
            color: #563ea7;
            letter-spacing: 1px;
            font-size: 1rem;
            text-decoration: none;
          }
        }
        >.error {
          font-weight: bold;
          font-size: 0.875rem;
          color: #221816;
          text-align: center;
        }
        
      }
      // >.footer1
      





    }
  }
  

  
  @media screen and (max-width:720px)
  {
    .container2{
      height: 80vh;

      >.innerBox2{
        // min-width: 410px;
        // padding: 0;
        border-radius: 0;
        // width: 10px;
        // width: 40%;
        // height: 70%;
        height: 100%;
        width: 100%;
        margin-top: 0;
        // width: 40vw;
        // height: 80%;
        >.container1{
          // width: 80%;
          // align-items: center;
        }
        >.heading1{
          font-size: 3rem;

          // align-items: center;
          text-align: center;
        }

      }
    }

  }
  

  

  
  .container1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    >label {
        font-weight: 700;
        font-size: 1rem;
        color: #313131;
      }
      input {
        border-radius: 5px;
        border: 1px solid #dddddd;
        outline: none;
        padding: 10px 15px;
        color: #000;
        &:hover {
            border-color: #ccc;
          }
        &:focus {
            border-color: #9900ff;
          }
      }
      textarea{
        border-radius: 5px;
        border: 1px solid #dddddd;
        outline: none;
        padding: 10px 15px;
        color: #000;
        &:hover {
            border-color: #ccc;
          }
        &:focus {
            border-color: #9900ff;
          }
      }
      >button {
        outline: none;
        border: none;
        // background-color: #9900ff;
        background-color: $color2_1;
        color: #fff;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1rem;
        padding: 10px 16px;
        width: 100%;
        transition: 100ms;
        cursor: pointer;
      }
      >button:hover {
        // background-color: #b071da;
        background-color: $color2;
      }
      >button:disabled {//at disabled css
        background-color: gray !important;//when it disabled thenbutton color become gray
      }
  }
  
  
  
  @media screen and (max-width:620px)
  {
    .container1{
      >label{
        font-weight: 900;
        font-size: 2rem;
        color: #313131;
      }
      >input{
        font-size: 1rem;
        font-weight: 900;

      }
    }

  }
  
  
  
  
 
  
